<div class="membersbox pad50">
	<div class="membersbox membersbox-box">
		<section class="modulePadding"
			style="padding-top: 5px; padding-bottom: 5px;">
			<section class="members_flash j-swipe" id="Swiper0">
				<ul class="clearfix">
					<li data-index="0"><a href="/User/dist_apply" title="VERO">
							<img
							src="http://mp.wxfenxiao.com/PublicMob/images/mob/31banner01.jpg"
							width="100%">
					</a></li>
					<li data-index="0"><a href="/Shop/index" title="VERO"> <img
							src="http://mp.wxfenxiao.com/PublicMob/images/mob/31banner01.jpg"
							width="100%">
					</a></li>
					<li data-index="0"><a href="/Shop/index" title="VERO"> <img
							src="http://mp.wxfenxiao.com/PublicMob/images/mob/31banner01.jpg"
							width="100%">
					</a></li>
				</ul>
				<section class="members_flash_time">
					<span class="cur"></span><span class=""></span><span class=""></span>
				</section>
			</section>
		</section>
	</div>
</div>